body{
	font-family: 'Arial';
	font-size: 14px;
}
#container{
	width: 740px;
	margin: auto;
}
#selectors{
	width: 320px;
	height: 600px;
}
#result{
	width: 390px;
	padding-left: 10px;
}
#cbg{
	background-color: #eeeeee;
}
#bbg{
	background-color: #2870C0;
}
#blc{
	background-color: #FFFFFF;
}
#bhc{
	background-color: #FFFFFF;
}
#cfc{
	background-color: #000000;
}
#clc{
	background-color: #000000;
}
#chc{
	background-color: #0000ff;
}
#fbg{
	background-color: #2870C0;
}
#ffc{
	background-color: #FFFFFF;
}
#flc{
	background-color: #FFFFFF;
}
#fhc{
	background-color: #FFFFFF;
}
#bdc{
	background-color: #FFFFFF;
}
#widget_container{
	height: 375px;
	overflow: hidden;
	text-align:center;
}
#border_options{
	display: none;
}
.clear{
	display: block;
	clear: both;
	height: 1px;
}
.left{
	float: left;
}
iframe#widget_iframe {
	height: 400px;
	width: 250px;
}
input{
	font-weight: bold;
	cursor: pointer;
	border: none;
	border-spacing: 0px;
	-moz-border-radius:7px;
	-webkit-border-radius: 7px;
}
textarea{
	width: 350px;
	height: 150px;
}
#colorSelector{
	background-color: white;
}
#colorpickerHolder2{
	width: 356px;
	height: 0;
	overflow: hidden;
	position: absolute;
}
.background_color{
	width: 34px;
	height: 34px;
	background: url('../images/select2.png');
	outline-width: 0;

}
.widgets{
	
}
select{
	margin: 9px;
}
